@import "./base/variable";
@import "./base/funtions";
@import "./base/mixins";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: color("light");
      font-family: "Ubuntu", sans-serif;
}

body{
    min-height: 100vh;
}