<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../static/css/add.css">
    <title>Agregar tarea</title>
</head>
<body>

    <form class="form" action="">
        <h2>
            Agregar tarea
        </h2>
        <p>
            En este apartado podras agregar tareas a tu lista de tareas 
            
        </p>
        <label for="name">
            titulo de la tarea
        </label>
        <input type="text" class="box_input box">
        <label for="">
            Descrición
        </label>
        <textarea readonly name="" id="" cols="20" rows="5"  class="box_input box"></textarea>
        <label for="">
            Estado
        </label>
        <select name="status" id="status" class="box_input box">
            <option value="">
                Pendiente
            </option>
            <option value="">
                Completada
            </option>
            <option value="">
                Cancelada
            </option>
        </select>
        <div class="container_button">
            <input class="button" type="submit">
            <button class="button" >Volver al inicio</button>
        </div>
        

    </form>
    
</body>
</html>