<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../static/css/index.css">

    <!-- font -->
    
    <title>To do list</title>
</head>
<body>
    <header>
        <button>
            Agregar tarea
        </button>
    </header>

    <div class="container">
        <div class="list">
            <h3 class="title">Comer</h3>
            <p class="description">Arroz con huevo suero y aguapanela con limon</p>
            <p class="date">12/03/2004</p>
            <p class="staus">Completado</p>
            <div class="container_button">
                <button>
                    Editar
                </button>
                <button>
                    Eliminar
                </button>
            </div>
        </div>
        <div class="list">
            <h3 class="title">Comer</h3>
            <p class="description">Arroz con huevo suero y aguapanela con limon</p>
            <p class="date">12/03/2004</p>
            <p class="staus">Completado</p>
            <div class="container_button">
                <button>
                    Editar
                </button>
                <button>
                    Eliminar
                </button>
            </div>
        </div>
        <div class="list">
            <h3 class="title">Comer</h3>
            <p class="description">Arroz con huevo suero y aguapanela con limon</p>
            <p class="date">12/03/2004</p>
            <p class="staus">Completado</p>
            <div class="container_button">
                <button>
                    Editar
                </button>
                <button>
                    Eliminar
                </button>
            </div>
        </div>
    </div>
    
</body>
</html>