
<!DOCTYPE html>
<html>
<head>
<title>insert</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<link rel="stylesheet" th:href="@{/stile.css}">


</head>
<body>

	<div class="main-w3layouts wrapper">
		<h1>Insert coder</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form th:object="${coder}" th:action="${action}" method="post">
					<input type="hidden" th:field="*{id}" th:value="${coder.id}">
					<input class="text" type="text" id="name" name="name" placeholder="name" required="" th:field="*{name}" th:value="${coder.name}">
					<input class="text email" type="number" id="age" name="age" placeholder="age" required="" th:field="*{age}" th:value="${coder.age}">
					<input class="text" type="text" id="clan" name="clan" placeholder="clan" required="" th:field="*{clan}" th:value="${coder.clan}">
			
					
					<button type="submit">
						guardar
					</button>
                    
                    
				</form>
                <a href="viewCoder.html">
                        
                    <button>
                      HOME
                    </button>  
                  </a>
			</div>
		</div>
        

		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<!-- //main -->
</body>
</html>
    
    
</body>
</html>